<h1>Welcome <%= @user.email %>!</h1>

<%= button_to 'Reserve time in the office', new_reservations_path, method: :get %>

<h2> <%= format_reservation_policy_count(@reservation_policy.office_limit) %> </h2>

<% if @user.has_role?(:admin) %>
  <%= button_to 'Update reservation policy', new_reservation_policies_path, method: :get %>
<% end %>

<%= month_calendar(attribute: :first, events: @reservations_per_day) do |date, reservations_per_day| %>
  <%= date %>

  <% reservations_per_day.each do |_, count| %>
    <div>
      <%= format_reservation_count(count) %>
    </div>
  <% end %>
<% end %>
