<div class="uk-alert-primary" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p><%= format_reservation_policy_count(@reservation_policy.office_limit) %></p>
</div>

<div class="uk-alert-primary" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p><%= format_spots_remaining(@spots_remaining_for_today) %></p>
</div>

<hr>

<div class="uk-card uk-card-body">
  <%= month_calendar(attribute: :first, events: @reservations_per_day) do |date, reservations_per_day| %>
    <%= date %>

    <% reservations_per_day.each do |_, count| %>
      <div>
        <%= link_to format_reservation_count(count), "#{reservations_path}/#{date}" %>
      </div>
    <% end %>
  <% end %>
</div>
