<div class="uk-card uk-card-body">
  <h1 class="uk-heading-small">Edit Reservation Policy</h1>

  <h1 class="uk-heading-divider"></h1>

  <%= form_with :html => {:class => "uk-form-horizontal"}, model: @reservation_policy do |form| %>
    <div>
      <%= form.label :capacity, :class => "uk-form-label" %><br>
      <div class="uk-form-controls">
        <%= form.number_field  :capacity, :class=> "uk-input" %>
      </div>
    </div>

    <%= render :partial => 'form_errors', locals: { model: @reservation_policy } %>

    <%= form.submit "Update", :class => "uk-button uk-button-primary" %>
  <% end %>
</div>
