<h1>Update Reservation Policy</h1>

<%= form_with model: @reservation_policy do |form| %>
  <div>
    <%= form.label :date %><br>
    <%= form.number_field  :office_limit %>
    <% @reservation_policy.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
