<div class="uk-card uk-card-body">
  <h1 class="uk-heading-small">Create Workspace</h1>

  <h1 class="uk-heading-divider"></h1>

  <%= form_with :html => {:class => "uk-form-horizontal"}, model: @workspace do |form| %>
    <div>
      <%= form.label :location, :class => "uk-form-label" %><br>
      <div class="uk-form-controls">
        <%= form.text_field :location, :class=> "uk-input" %>
      </div>

      <%= form.label :workspace_type, :class => "uk-form-label" %><br>
      <div class="uk-form-controls">
        <%= form.select :workspace_type, options_for_select(Workspace.workspace_types.keys.map {|workspace_type| [workspace_type.humanize.capitalize, workspace_type]}), :class => "uk-select" %>
      </div>

      <%= form.label :capacity, :class => "uk-form-label" %><br>
      <div class="uk-form-controls">
        <%= form.number_field  :capacity, :class=> "uk-input" %>
      </div>
    </div>

    <%= render :partial => 'form_errors', locals: { model: @workspace } %>

    <%= form.submit "Create", :class => "uk-button uk-button-primary" %>
  <% end %>
</div>
