<div class="uk-card uk-card-body">
  <h1 class="uk-heading-small">New Reservation</h1>

  <h1 class="uk-heading-divider"></h1>

  <%= form_with :html => {:class => "uk-form-horizontal"}, model: @reservation do |form| %>
      <div>
        <%= form.label :date, :class => "uk-form-label" %>
        <div class="uk-form-controls">
          <%= form.date_field :date, :class=> "uk-input" %>
        </div>

        <% @reservation.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>

        <%= form.submit :class => "uk-button uk-button-primary" %>
      </div>
  <% end %>
</div>
