<div class="uk-card uk-card-body">
  <h1 class="uk-heading-small">New Reservation</h1>

  <h1 class="uk-heading-divider"></h1>

  <%= form_with :html => {:class => "uk-form-horizontal"}, model: @reservation do |form| %>
    <div>
      <%= form.label :date, :class => "uk-form-label" %>
      <div class="uk-form-controls">
        <%= form.date_field :date, :class=> "uk-input" %>
      </div>
    </div>

    <%= render :partial => 'form_errors', locals: { model: @reservation } %>

    <%= form.submit :class => "uk-button uk-button-primary" %>
  <% end %>
</div>
