
<div class="uk-card uk-card-body">
  <h1 class="uk-heading-medium">Insights</h1>

  <%= form_with :html => {:class => "uk-form-horizontal"}, :method => :get do |form| %>
    <div>
      <%= form.label :start_date, :class => "uk-form-label" %>
      <div class="uk-form-controls">
        <%= form.date_field :start_date, :class=> "uk-input" %>
      </div>

      <%= form.label :end_date, :class => "uk-form-label" %>
      <div class="uk-form-controls">
        <%= form.date_field :end_date, :class=> "uk-input" %>
      </div>
    </div>

    <%= form.submit 'View', :class => "uk-button uk-button-primary" %>
  <% end %>

  <h1 class="uk-heading-divider"></h1>

  <h1 class="uk-heading-small">Average Reservations Per Day</h1>
  <div tabindex="0">
      <div class="uk-card uk-card-default uk-card-body uk-animation-fade">
	  <h1 class="uk-heading-small"><%= "%.2f" % @average_reservations_per_day %></h1>
      </div>
  </div>

  <h1 class="uk-heading-divider"></h1>

  <h1 class="uk-heading-small">Reservations Per Day</h1>
  <%= line_chart @all_reservations_per_day %>

  <h1 class="uk-heading-divider"></h1>

  <h1 class="uk-heading-small">Reservations Used vs Available</h1>
  <%= pie_chart @reservations_used_vs_available %>
</div>
